<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- funciones javascript  -->

<!-- fin de funciones javascript -->

<!-- espacios de menu y logos de menu -->
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css'>
<!-- fin de espacios de menu y logos de menu   -->

<!-- diseño de pagina -->
    <link rel="stylesheet" href="../css/paginamenu.css">
    <link rel="stylesheet" href="../css/registros y tablas.css">
<!-- fin de diseño de pagina -->



    

    <title>ANIMEX</title>
</head>
<body>




  <!-- MENU DE INICIO -->

<nav class="navbar " id="menu">
    <a class="navbar-brand navbar-logo" href="/menu">ANIMEX</a>
    <a class="navbar-brand navbar-logo" href="/menu"> <%= uss %></a>
   
    <ul>
      <li class="nav-item"><a class="nav-link" href="/usuarios">USUARIOS</a></li>
      <li class="nav-item"><a class="nav-link" href="/clientes">CLIENTES</a></li>
      <li class="nav-item"><a class="nav-link" href="/reportes">REPORTES</a>
        <ul>
          <li class="nav-item"><a class="nav-link" href="tabla-1">USUARIOS</a></li>
          <li class="nav-item"><a class="nav-link" href="tabla-2">CLIENTE</a></li>
          <li class="nav-item"><a class="nav-link" href="tabla-3">PROVEEDORES</a></li>
          <li class="nav-item"><a class="nav-link" href="tabla-4">PRODUCTOS</a></li>

        </ul>
        
      <li><a href="/proveedores">PROVEEDORES</a>
      <li><a href="/productos">PRODUCTOS</a>
      <li><a href="/ventas">VENTAS</a>
      <li><a href="/cerrar">CERRAR</a>

      </li>




    </ul>
</nav>



<section>
</form>


    <table cellpadding="0" cellspacing="0" class="responsive-table">
        <thead>
            <tr>
                <th scope="col"> CEDULA </th>
                <th scope="col"> DIRECCION </th>
                <th scope="col"> EMAIL</th>
                <th scope="col"> NOMBRE</th>
                <th scope="col"> TELEFONO</th>
  
            </tr>
        </thead>
  <form action="" none="frm" id="frm"  autocomplete="off">
  
    <thead>            
  
      
    <tr>
  
    </thead>
  <tbody>
    <% datos.forEach(function(datos){%>
  
        
        <tr>

            <td><input  id="form__inputt" type="text"  value="<%=datos.nitprov%>"          id="cedd"    name="nitprov"                     class="ced"         ></td>
            <td><input  id="form__inputt" type="text"  value="<%=datos.ciudadprov%>"        id="ema"    name="ciudadprov"                  class="ema"         ></td>
            <td><input  id="form__inputt" type="text"  value="<%=datos.direcprov%>"           id="nom"    name="direcprov"                  class="nom"         ></td>
            <td><input  id="form__inputt" type="text"  value="<%=datos.nomprov%>"        id="pass"   name="nomprov"                        class="pass"        ></td>
            <td><input  id="form__inputt" type="text"  value="<%=datos.telprov%>"             id="uss"     name="telprov"                  class="us"          ></td>
    
  
       <%})%> 
  
  </tbody>
        
  
  
  
  </form>
  
</section>



</body>
</html>  